# exclude .gitignore and similar from the generated tarball
.editorconfig     export-ignore
.git*             export-ignore
.jshintrc         export-ignore
.nvmrc            export-ignore
gulpfile.js       export-ignore
composer*         export-ignore
package.json      export-ignore
package-lock.json export-ignore